<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" href="/images/logo.png">
    <title>Mata Wang</title>
</head>
<header>
    <img class="logo" src="/images/logo3.png" alt="Mata Wang logo">
</header>
<main class="container">
