html, body {
  height: 100%;
}
body {
  display: grid;
  background-image: linear-gradient( to right,
        /* rgba(253, 208, 76, 0.9),
        rgba(255, 109, 85, 0.9),
        rgba(76, 145, 212, 0.9),
        rgba(60, 106, 152, 0.9) */
        #F5E8C7,
        #818FB4,
        #435585,
        #363062
    );
    background-attachment: fixed;
}
/* header, footer {
  flex: 0 0 auto;
} */
main {
  text-align: center;
  /* padding: 5vmin; */
  /* flex: 1 0 auto; */
  z-index: 5;
}
footer{
    margin-top: 75px;
}
footer.active {
    /* margin-top: 100px; */
    background-color: transparent;
}
/*----- Header -----*/
.logo{
    width: 300px;
    height: 100px;
    display: flex;
    margin-left: 130px;
    margin-top: 50px;
}
.tab-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
}
.tab-text{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    margin: 10px;
}
.tab-row {
    /* display: grid; 
    grid-template-columns: 1fr 1fr; */
    width: 100%;
}
.row-elem {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    /* transition: background-color 0.3s, box-shadow 0.3s; */
}
.active{
    background-color: white;
}
.row-elem:not(.active) {
    background-color: gainsboro;
    color: gray;
}
.tab-content {
    background-color: #ffffff;
    padding: 40px 0;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;;
}
.white-svg {
    filter: brightness(0) invert(0.55);
}

/*------ Converter Content -------*/
form {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0 50px;
}
form .top-row{
    width: 100%;
    display: grid;
    gap: 4px 16px;
    grid-auto-flow: row;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) auto minmax(100px, 1fr);
    grid-template-rows: auto [ input-row-start ] auto [ input-row-end ] auto;
}
form .bottom-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
form :where(input, select, button){
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}
form p{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: left;
}
form input{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    height: 50px;
    font-size: 20px;
    padding: 15px;
    border: 1px solid #999;
}
form input:focus{
    padding: 0 15px;
    border: 2px solid rgba(60, 106, 152);
}
.swap{
    cursor: pointer;
    font-size: 25px;
    margin-top: 68px;
}
form .rate{
    text-align: left;
    display: inline-block;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
form button{
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 100px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    background-color: #007aff;
}
.wrapper{
    position: relative;
}
.select-btn, li{
    display: flex;
    cursor: pointer;
    align-items: center;
}
.wrapper .select-btn{
    display: flex;
}
.select-btn{
    height: 50px;
    padding: 0 10px;
    font-size: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #999;
    justify-content: space-between;
}
.select-btn img, .options img{
    max-width: 50px;
    border: 1px solid gainsboro;
}
.select-btn span{
    white-space: nowrap;
    overflow: hidden;
}
.select-btn ion-icon{
    font-size: 20px;
    transition: transform 0.3s linear;
}
.wrapper.active .select-btn ion-icon{
    transform: rotate(-180deg);
}
.content{
    display: none;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #999;
    border-radius: 5px;
    background: #ffffff;
}
.wrapper.active .content{
    display: block;
    position: absolute;
    width: 100%;
}
.content .search{
    position: relative;
}
.search ion-icon{
    top: 50%;
    left: 15px;
    color: #999;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
}
.search input{
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 20px 0 43px;
    border: 1px solid #B3B3B3;
}
.search input:focus{
    padding-left: 42px;
    border: 2px solid #4285f4;
}
.search input::placeholder{
    color: #bfbfbf;
}
.content .options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
}
.options::-webkit-scrollbar{
    width: 7px;  
}
.options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
}
.options li{
    text-align: left;
    height: 50px;
    padding: 0 13px;
    font-size: 20px;
    border-radius: 5px;
    margin-left: -40px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.options li:hover{
    background: #f9f9f9;
}

/*------ footer -------*/
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;
    padding: 20px;
  }
.social_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    margin-top: auto;
}
footer .social_icon li {
  list-style: none;
}
footer .social_icon li a {
  font-size: 2em;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  color: white;
}
footer .social_icon li a:hover {
  transform: translateY(-15px);
  color: white;
}
footer p {
    color: white;
    text-align: center;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.1em;
}