:root {
    --josefin-sans-font: "Josefin Sans", sans-serif;
}
 
.custom-font {
    font-family: var(--josefin-sans-font);
    font-optical-sizing: auto;
    font-style: normal;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;
  background-image: linear-gradient(
        rgba(253, 208, 76, 0.9),
        rgba(255, 109, 85, 0.9),
        rgba(76, 145, 212, 0.9),
        rgba(60, 106, 152, 0.9)
    );
    background-attachment: fixed;
}
header, footer {
  flex: 0 0 auto;
}
main {
  text-align: center;
  padding: 5vmin;
  flex: 1 0 auto;
}
/*----- Header -----*/
.logo{
    width: 300px;
    height: 100px;
    display: flex;
    margin-left: 130px;
    margin-top: 50px;
}
.tab-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
}
.tab-text{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    margin: 10px;
}
.tab-row {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.row-elem {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.active{
    background-color: white;
}
.row-elem:not(.active) {
    background-color: gainsboro;
    color: gray;
}
.tab-content {
    background-color: #ffffff;
    padding: 40px 0;
    border-radius: 0 0 5px 5px;
    width: 100%;
}
.white-svg {
    filter: brightness(0) invert(0.55);
}

/*------ Content -------*/
form .top-row, form .bottom-row{
    position: relative;
    top: 25%;
    left: 25%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

form {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0 50px;
}

form :where(input, select, button){
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}

form p{
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left;
}

form .amount, .bottom-row{
    margin: 15px;
}

form input{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    height: 50px;
    font-size: 17px;
    font-weight: 500px;
    padding: 15px;
    border: 1px solid #999;
}

form input:focus{
    padding: 0 15px;
    border: 2px solid rgba(60, 106, 152);
}

form .drop-list{
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

.drop-list .select-box{
    display: flex;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
}

.select-box select{
    width: auto;
}

.select-box img{
    max-width: 30px;
}

.drop-list .icon{
    cursor: pointer;
    font-size: 22px;
    margin-top: 30px;
}

form .exchange-rate{
    font-size: 20px;
}

form button{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 100px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(76, 145, 212);
}

/*------ footer -------*/
footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.social_icon,
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_icon{
    margin-left: -20px;
}
footer .social_icon li,
footer .menu li {
  list-style: none;
}
footer .social_icon li a {
  font-size: 2em;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  color: white;
}
footer .social_icon li a:hover {
  transform: translateY(-15px);
  color: white;
}
footer .menu li a {
  font-size: 1.2em;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  color: white;
}
footer .menu li a:hover {
  opacity: 1;
  color: darkblue;
}
footer p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
  }